In [1]:
#Cread tres variables numéricas de tipo integer (entero), llamadas de la siguiente forma:

numero1 = 3
numero2 = 54
numero3 = 90

In [2]:
#Utilizando los operadores lógicos:

#En vuestro caso, es el numero1 mayor que el numero2

numero1 > numero2

False

In [5]:
#Es el numero1 menor que el numero2 pero mayor que el numero3

numero2 > numero1 > numero3

False

In [6]:
#Es el numero3 igual que el numero2

numero3 == numero2

False

In [7]:
#Es el numero2 distinto que el numero1

numero2 != numero1

True

In [8]:
#Cread dos variables numéricas de tipo float (decimal) con dos decimales, llamdas de la siguiente forma:

altura1 = 2.50
altura2 = 4.25

In [9]:
#Cuál es la suma de las dos alturas

altura1 + altura2

6.75

In [10]:
#Cuál es la diferencia entre las alturas

altura1 - altura2

-1.75

In [11]:
#Cuál es el resto de la división de las dos alturas

altura1 / altura2

0.5882352941176471

In [13]:
#Cuál es resultado de la división de las dos alturas, redondead el resultado a un decimal.

print(round(altura1/altura2,1))

0.6

In [14]:
#Escribid un programa usando la función input() que le pregunte al usuario su nombre y apellidos.

nombre = input('Cual es tu nombre?')
apellido = input('Cual es tu apellido?')

In [16]:
#Printead su nombre y apellidos todo en mayúsculas

print(nombre, apellido)

Iara Alkmim

In [2]:
numero4 = (13)

print(numero4)

13

In [1]:
lista1 = (4,5,6,34,90,1,8)
print(lista1)

(4, 5, 6, 34, 90, 1, 8)